body{
  margin: 0;
  padding: 0;
  border: 0;
  /* background-color: rgb(206, 135, 135); */
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
}
*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
